# <font color = blue>  Airbnb Investment Project </font>

_Trainees: Abdurrahman Therwi and Mohammad AlQarni_

## <font color=blue style={}>Abstract</font>

You’re working for a client who wishes to invest in an Airbnb property in Washington, D.C. Before your client decides to invest, they’d like clean data about Airbnb performance in D.C.’s neighborhoods that supports a clear recommendation for an investment in a specific market.

## Pandas and matplot lib

In [1]:
from IPython.display import HTML

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

plt.style.use('fivethirtyeight')
%matplotlib inline

# Increase default figure and font sizes for easier viewing.
plt.rcParams['figure.figsize'] = (8, 6)
plt.rcParams['font.size'] = 14

In [2]:
# load data set from Airbnb.csv file to varibale
airbnb_df = pd.read_csv('DataSet/AirBnB.csv')

### Step 0: Examine Data Set

**Check data loaded by show sample from AirbnbDS.**

In [3]:
airbnb_df.head()

,id,name,summary,space,host_id,host_url,host_name,host_since,host_location,host_about,...,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,7087327,Historic DC Condo-Walk to Capitol!,Professional pictures coming soon! Welcome to ...,NaN,15830506,https://www.airbnb.com/users/show/15830506,Lize & Greg,5/21/14,"Washington, District of Columbia, United States","We are two fun, friendly entrepreneurs living ...",...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,975833,Spacious Capitol Hill Townhouse,NaN,Beautifully renovated Capitol Hill townhouse. ...,5338703,https://www.airbnb.com/users/show/5338703,Sebastian,3/5/13,"New York, New York, United States","Hi I'm Sebastian. \r\nAfter ten years in DC, m...",...,65,3/22/13,9/28/15,94.0,10.0,9.0,10.0,10.0,9.0,9.0
2,8249488,Spacious/private room for single,This is an ideal room for a single traveler th...,NaN,1487418,https://www.airbnb.com/users/show/1487418,Craig,12/9/11,"Washington, District of Columbia, United States",just ask,...,1,9/10/15,9/10/15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8409022,A wonderful bedroom with library,Prime location right on the Potomac River in W...,NaN,16970249,https://www.airbnb.com/users/show/16970249,Christopher,6/18/14,"Washington, District of Columbia, United States",NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8411173,Downtown Silver Spring,"Hi travellers! I live in this peaceful spot, b...",This is a 750 sq ft 1 bedroom 1 bathroom. Whi...,30369828,https://www.airbnb.com/users/show/30369828,Joshua,3/31/15,"Baltimore, Maryland, United States",NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Shows information of loaded DataSet.**

In [4]:
# print the top 5 rows in Data set 

airbnb_df.head()

# also can you print the any number of rows depends on parameter
# AirbnbDS.head(10)

,id,name,summary,space,host_id,host_url,host_name,host_since,host_location,host_about,...,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,7087327,Historic DC Condo-Walk to Capitol!,Professional pictures coming soon! Welcome to ...,NaN,15830506,https://www.airbnb.com/users/show/15830506,Lize & Greg,5/21/14,"Washington, District of Columbia, United States","We are two fun, friendly entrepreneurs living ...",...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,975833,Spacious Capitol Hill Townhouse,NaN,Beautifully renovated Capitol Hill townhouse. ...,5338703,https://www.airbnb.com/users/show/5338703,Sebastian,3/5/13,"New York, New York, United States","Hi I'm Sebastian. \r\nAfter ten years in DC, m...",...,65,3/22/13,9/28/15,94.0,10.0,9.0,10.0,10.0,9.0,9.0
2,8249488,Spacious/private room for single,This is an ideal room for a single traveler th...,NaN,1487418,https://www.airbnb.com/users/show/1487418,Craig,12/9/11,"Washington, District of Columbia, United States",just ask,...,1,9/10/15,9/10/15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8409022,A wonderful bedroom with library,Prime location right on the Potomac River in W...,NaN,16970249,https://www.airbnb.com/users/show/16970249,Christopher,6/18/14,"Washington, District of Columbia, United States",NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8411173,Downtown Silver Spring,"Hi travellers! I live in this peaceful spot, b...",This is a 750 sq ft 1 bedroom 1 bathroom. Whi...,30369828,https://www.airbnb.com/users/show/30369828,Joshua,3/31/15,"Baltimore, Maryland, United States",NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#show the dataset type  using
type(airbnb_df)

pandas.core.frame.DataFrame

In [6]:
# row index
airbnb_df.index

RangeIndex(start=0, stop=3723, step=1)

In [7]:
#shows the columns of DataSet
airbnb_df.columns

Index(['id', 'name', 'summary', 'space', 'host_id', 'host_url', 'host_name',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'city', 'state', 'zipcode', 'market', 'country_code',
       'latitude', 'longitude', 'is_location_exact', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds',
       'square_feet', 'price', 'weekly_price', 'monthly_price',
       'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people',
       'minimum_nights', 'maximum_nights', 'calendar_updated',
       'has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'calendar_last_scraped',
       'number_of_reviews', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value'],
      dtype='object')

In [8]:
#shows the Datatypes of id columns 
airbnb_df['id'].dtypes

dtype('int64')

In [9]:
# gives the sum for each data types 
airbnb_df.get_dtype_counts()

float64    13
int64      13
object     38
dtype: int64

In [10]:
# figure out of number of rows and columns
airbnb_df.shape

(3723, 64)

In [13]:
#Describe all numric types 
airbnb_df.describe().T.style

In [15]:
# Describe all object columns (can include multiple types).
airbnb_df.describe(include=['object'])

,name,summary,space,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,...,weekly_price,monthly_price,security_deposit,cleaning_fee,extra_people,calendar_updated,has_availability,calendar_last_scraped,first_review,last_review
count,3723,3457,2977,3723,3723,3723,3717,2763,3289,3289,...,2124,1807,1426,2335,3723,3723,3723,3723,2893,2893
unique,3693,3340,2884,2732,1549,1356,148,1904,4,60,...,439,447,58,86,48,38,1,2,924,336
top,The HUB at Capitol Hill,"Sunny, renovated, and classy apartment in one ...",Metro Style Living in Washington DC This offer...,https://www.airbnb.com/users/show/25188,Seamless,7/10/09,"Washington, District of Columbia, United States",ABOUT US:\r\n\r\nSeamlessTransition is a full-...,within an hour,100%,...,$600.00,"$2,500.00",$100.00,$50.00,$0.00,today,t,10/3/15,9/21/15,9/21/15
freq,4,12,6,62,62,62,2835,62,1276,1850,...,115,60,278,301,2129,561,3723,2110,34,150

In [17]:
# Describe the room_type 
airbnb_df['city'].describe()

count           3723
unique            16
top       Washington
freq            3628
Name: city, dtype: object

In [19]:
airbnb_df['city']

0            Washington
1            Washington
2           Hyattsville
3            Washington
4         Silver Spring
5            Washington
6            Washington
7         Mount Rainier
8       Capitol Heights
9           Takoma Park
10          Takoma Park
11        Silver Spring
12        Silver Spring
13        Silver Spring
14          Takoma Park
15        Mount Rainier
16          Hyattsville
17        Silver Spring
18        Mount Rainier
19          Takoma Park
20        Mount Rainier
21          Takoma Park
22          Takoma Park
23           Washington
24           Washington
25           Washington
26           Washington
27           Washington
28           Washington
29           Washington
             ...
3693         Washington
3694         Washington
3695         Washington
3696         Washington
3697         Washington
3698         Washington
3699         Washington
3700         Washington
3701         Washington
3702         Washington
3703         Washington
3704         Washington
3705         Washington
3706         Washington
3707         Washington
3708         Washington
3709         Washington
3710         Washington
3711         Washington
3712         Washington
3713         Washington
3714         Washington
3715         Washington
3716         Washington
3717         Washington
3718         Washington
3719         Washington
3720         Washington
3721         Washington
3722         Washington
Name: city, Length: 3723, dtype: object

In [21]:
airbnb_df['host_neighbourhood'].describe()

count             3461
unique             131
top       Capitol Hill
freq               300
Name: host_neighbourhood, dtype: object

In [23]:
# check NAN fields 
airbnb_df.isnull().sum()[airbnb_df.isnull().sum() != 0].sort_values(ascending = True)

property_type                     1
host_location                     6
zipcode                           9
beds                             11
bedrooms                         21
bathrooms                        27
host_neighbourhood              262
summary                         266
neighbourhood                   353
host_response_rate              434
host_response_time              434
host_acceptance_rate            614
space                           746
last_review                     830
first_review                    830
review_scores_rating            868
review_scores_communication     872
review_scores_value             872
review_scores_location          872
review_scores_accuracy          875
review_scores_cleanliness       876
review_scores_checkin           876
host_about                      960
cleaning_fee                   1388
weekly_price                   1599
monthly_price                  1916
security_deposit               2297
square_feet                    3641
dtype: int64

## Step 1: Data Set Preparation (Cleaning DataSet) 

●	Review for possible duplicates and erroneous data.

○ Remove listings without any reviews and possible duplicate rows where the bot may have re-recorded listing data.
    
○ The “id” (col A) is the ID you should use to look for possible duplicates. The “host_id” column is the ID of the host, but hosts can have more than one listing.

**As we examine our Airbnb data set, we see our data not cleaned to do our analytics. Now, accoroding to the project's prompts.**

### Cleaning data as the following:

``1. Execlude rows with city='Washington'`` 

``2. Delete the rows with no number of reviews``

``3. Reformate price column with float Dtype`` 

``4. Delete any duplicate of the 'id' rows ``

In [25]:
# 1. include only Washington city. 
airbnb_df = airbnb_df[airbnb_df['city']== 'Washington']

In [27]:
# count the number of rows in city = Washington
airbnb_df['city'].value_counts()

Washington    3628
Name: city, dtype: int64

In [29]:

# 2. Delete the rows with no number of reviews

# number of rows before delete rows with no reviews. 
rows = airbnb_df['number_of_reviews'].value_counts().sum()

print ('Rows brfore remove: ', rows)

Rows brfore remove:  3628

In [31]:
# remove all rows with no number of reviews by importing all rows with non zero of 'number_of_reviews'
airbnb_df= airbnb_df[airbnb_df['number_of_reviews'] !=0]

In [33]:
print ('Rows after remove: ',airbnb_df['number_of_reviews'].value_counts().sum())

Rows after remove:  2820

In [35]:
airbnb_df['number_of_reviews'].head(10)

1     65
23    46
24    84
25    25
26     4
27     2
28    83
29    19
30    94
31    47
Name: number_of_reviews, dtype: int64

In [36]:
# 3. Reformate price column with float Dtype

# price with dollar foramtting
airbnb_df['price'].head()

1     $350.00
23    $149.00
24    $150.00
25    $175.00
26    $239.00
Name: price, dtype: object

In [37]:
# reformate price function
def dollar_to_float(value):
    try:
        return float(value.strip('$').strip(','))
    
    except:
        return np.nan

In [38]:
# using dollar_to_float function to remformate price col. 
airbnb_df['price'] = airbnb_df['price'].apply(dollar_to_float)

In [39]:
# check the result
airbnb_df['price'].head()

1     350.0
23    149.0
24    150.0
25    175.0
26    239.0
Name: price, dtype: float64

In [41]:
# 4. Delete any duplicate of the 'id' rows

# number of  rows before duplicates.
drows = airbnb_df['id'].value_counts().sum()
print ('number of rows before duplicates: ',drows)

number of rows before duplicates:  2820

In [43]:
# remove the duplicated of 'id'
airbnb_df['id'] = airbnb_df['id'].drop_duplicates(keep='first',inplace=False)

In [45]:
# number of  rows after duplicates.
NoDrows = airbnb_df['id'].value_counts().sum()
print ('number of rows before duplicates: ',NoDrows)

number of rows before duplicates:  2820

In [47]:
# another way to check the duplicated of 'id'
airbnb_df['id'].duplicated().sum()

0

__As a result there is no duplicated rows__


## PROJECT STEP 2: DATA EXPLORATION AND ANALYSIS 

#### PROMPT 1: How much revenue do successful hosts make?

  >  Revenue per listing 

To answer this question we have to do the following: 

``1. Calculate a proxy number of stays for each listing by assuming that 50 percent of customers who stayed left a review ``

``2. Calculate estimated daily revenue for two guests!`` 

``3. Multiply the estimated daily revenue by the minimum number of nights !``

``4. Calculate an estimated_total_revenue for each listing!``

columns that we dealing with our calculation:
>  [ price, guests_included, extra_people, accommodates ]

In [ ]:
# 1. find the number of Stays for each listing by assuming
#    50%  of customers who stayed left a review

In [48]:
# function to get number of Stays for eaching listing by assuming 50% of gusets stary who left review 
def NoOfStays(value):
    return int(value * 2)

In [50]:
airbnb_df['Stays'] = airbnb_df['number_of_reviews'].apply(NoOfStays)

In [52]:
airbnb_df['Stays'].head()

1     130
23     92
24    168
25     50
26      8
Name: Stays, dtype: int64

In [53]:
# 2. Calculate estimated daily revenue for two guests


# check the formate of extra_people
airbnb_df['extra_people'].head()

1      $0.00
23    $99.00
24    $20.00
25    $25.00
26     $0.00
Name: extra_people, dtype: object

As a results, the formate of extra_people neeed to reformating using the following:

In [55]:
# using pandas filtering method to extract $ from vlaue of extra_people to do our calculation to get 
# estimated_daily_revenue
airbnb_df['extra_people'] = airbnb_df['extra_people'].str.extract('(\d+)')

In [56]:
airbnb_df['extra_people'] = airbnb_df['extra_people'].map(lambda x : float(x))

In [58]:
# check the formate of extra_people after applying the reformatting 
airbnb_df['extra_people'].head()

1      0.0
23    99.0
24    20.0
25    25.0
26     0.0
Name: extra_people, dtype: float64

In [61]:
# add new columns for daily revenue 
airbnb_df['daily_revenue'] = airbnb_df['price']

In [62]:
# function to calculate the estimated daily revenue
def estimated_daily_revenue(row):
    if row['guests_included'] > 1:
        return row['daily_revenue']
    elif row['guests_included'] == 1 and row['accommodates'] == 1:
        return row['daily_revenue']
    elif row['guests_included'] == 1 and row['accommodates'] > 1:
        return row['daily_revenue'] + row['extra_people']
    else :
        row['daily_revenue'] = None # this condition if there is 0 
        return row['daily_revenue']

In [64]:
# apply our calculation for EDR (estimated daily revenue )
EDR = airbnb_df.apply(estimated_daily_revenue,axis=1)

In [66]:
# figure out the estimated daily revenue
EDR.head(10)

1     350.0
23    149.0
24    150.0
25    175.0
26    239.0
27     65.0
28     71.0
29     80.0
30    250.0
31    158.0
dtype: float64